/* .view-flex {
    background-color: aquamarine;
    border: 3px solid;
    border-color: black;
} */

.card-divider.d-none {
    flex-shrink: 0;
    width: 1.5rem;
}

.card-divider.d-lg-none {
    flex-shrink: 0;
    min-height: 1.5rem;
}

#header-content {
    background: #f0f2f5;
}

#top-nav-content {  
    background-color: #f0f2f5;
    font-family: Inter;
}

.sidebar, .offcanvas{
    background: #007837;
    min-width: 250px;
    max-width: 250px;
    max-height: 100vh;
    transition: all 0.3s;
    font-family: Inter;
    font-weight: 500;
}

.side-nav-content {
    min-height: 100vh;
    width: 100%;
}

.sidebar li.active {
    background: white;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li a:hover {
    color: black;
}
.sidebar li a, div.dropup a {
    color: white;
}

#main-logo {
    max-width: 150px;
    max-height: 150px;
}

#mobile-logo {
    max-width: 30px;
    max-height: 30px;
}

#main-content {
    background: #f0f2f5;
}

#dashboard-content .card-collapse {
    flex-direction: row;
}

.card {
    font-family: Inter;
}

#dashboard-content .card, #monitor-content .card {
    min-height: 300px;
}

.card-title {
    font-weight: 600;
}

.card-subtitle {
    font-weight: 500;
    font-size: 0.9rem;
}

.card-text {
    font-weight: 400;
}

#monitor-content .card .card-body {
    flex: 0;
}

#monitor-content .card .img-overlay-gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(7,6,25,0.7) 0%, rgba(33,33,56,0.5) 30%, rgba(255,255,255,0) 40%);
    position: absolute;
    top: 0;
    left: 0;
}

@media(max-width: 820px) {
    #side_nav {
        display: none;
    }

    #top-nav-content {
        position: sticky;
        top: 0;
        z-index: 10;
    }
}

@media(max-width: 540px) {
    main #dashboard-content .card-collapse {
        flex-direction: column;
        flex-grow: 1;
    }
}